.input {
    border: 2px solid lightgrey;
    border-radius: 20px;
    margin: 10vh 35vw;
    text-align: center;
    padding: 25px;
    font: 16px 'Open-Sans', sans-serif;

    .form-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;


        .selector-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            min-width: 50px;

            .month-selector {
                width: 150px;
                min-width: 50px;
            }

            .day-selector {
                width: 100px;
                min-width: 50px;
            }
        }

        .submit {
            background-color: #087ffe;
            color: white;
            height: 45px;
            width: 100px;
            border-radius: 10px;
            font-size: 16px;
        }
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .input {
        margin: 10vh 9vw;

        .form-layout {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media only screen and (min-width : 480px) and (max-width : 700px) {
    .input {
        margin: 10vh 12vw;
    }
}

/* iPads (portrait and landscape) */
@media only screen and (min-width : 700px) and (max-width : 1375px) {
    .input {
        margin: 10vh 20vw;
    }
}