.output {
    border: 2px solid lightgrey;
    border-radius: 20px;
    border-radius: 20px;
    margin: 10vh 35vw;
    text-align: center;
    padding: 25px;
    font: 16px 'Open-Sans', sans-serif;

    .date-year {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .output {
        margin: 10vh 9vw;
    }
}

@media only screen and (min-width : 480px) and (max-width : 700px) {
    .output {
        margin: 10vh 12vw;
    }
}

/* iPads (portrait and landscape) */
@media only screen and (min-width : 700px) and (max-width : 1375px) {
    .output {
        margin: 10vh 20vw;
    }
}