.output {
    border: 2px solid lightgrey;
    border-radius: 20px;
    border-radius: 20px;
    margin: 10vh 35vw;
    text-align: center;
    padding: 25px;
    font: 16px 'Open-Sans', sans-serif;

    .date-year {
        margin-bottom: 20px;
    }

}