.output {
  border: 2px solid lightgrey;
  border-radius: 20px;
  border-radius: 20px;
  margin: 100px 350px;
  text-align: center;
  padding: 25px;
  font: 16px "Open-Sans", sans-serif;

  .date-year {
    margin-bottom: 20px;
  }
}
